### Some calculations prepared for the manuscript

In [41]:
import pandas as pd
import xarray as xr

In [42]:
ls data/low_sulfate_reduction_rate/

10_po75-25_di35e-9/  3_po75-25_di2e-9/   6_po75-25_di15e-9/  9_po75-25_di30e-9/
1_po75-25_di0e-9/    4_po75-25_di5e-9/   7_po75-25_di20e-9/
2_po75-25_di1e-9/    5_po75-25_di10e-9/  8_po75-25_di25e-9/

In [44]:
ds1 = xr.open_dataset('data/low_sulfate_reduction_rate/1_po75-25_di0e-9/water.nc')
ds2 = xr.open_dataset('data/low_sulfate_reduction_rate/2_po75-25_di1e-9/water.nc')
ds3 = xr.open_dataset('data/low_sulfate_reduction_rate/3_po75-25_di2e-9/water.nc')
ds4 = xr.open_dataset('data/low_sulfate_reduction_rate/4_po75-25_di5e-9/water.nc')
ds5 = xr.open_dataset('data/low_sulfate_reduction_rate/5_po75-25_di10e-9/water.nc')
ds6 = xr.open_dataset('data/low_sulfate_reduction_rate/6_po75-25_di15e-9/water.nc')
ds7 = xr.open_dataset('data/low_sulfate_reduction_rate/7_po75-25_di20e-9/water.nc')
ds8 = xr.open_dataset('data/low_sulfate_reduction_rate/8_po75-25_di25e-9/water.nc')
ds9 = xr.open_dataset('data/low_sulfate_reduction_rate/9_po75-25_di30e-9/water.nc')
ds10 = xr.open_dataset('data/low_sulfate_reduction_rate/10_po75-25_di35e-9/water.nc')

In [85]:
ds = ds4

In [86]:
alk_df     = ds['B_C_Alk'].to_dataframe()
alk_surface    = alk_df.groupby('z').get_group(0.625)
alk_surface_year = alk_surface.loc['2011-01-01':'2011-12-31']

In [87]:
alk_surface_year = alk_surface_year.reset_index()

In [88]:
alk_surface_year['B_C_Alk'].mean()

2438.43994140625